@model PasswordRecoveryConfirmModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}
@using Nop.Web.Models.Customer;
<div class="page password-recovery-page">
    <div class="page-title panel-heading">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <div class="alert alert-info">
                @Model.Result
            </div>
        }
        @if (!Model.DisablePasswordChanging)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.NewPassword, new { @class = "control-label col-sm-3 col-md-2 password-text" })
                        <div class="visible-xs form-title-rquired">@Html.RequiredHint()</div>
                        <div class="col-sm-5 col-md-3 col-xs-12">
                            @Html.TextBoxFor(model => model.NewPassword, new { @class = "email form-control" })
                        </div>
                        <div class="col-sm-3 col-md-4 col-xs-12">
                            @Html.ValidationMessageFor(model => model.NewPassword)
                            <div class="visible-lg visible-md visible-sm form-title-rquired">@Html.RequiredHint()</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "control-label col-sm-3 col-md-2 password-text" })
                        <div class="visible-xs form-title-rquired">@Html.RequiredHint()</div>
                        <div class="col-sm-5 col-md-3 col-xs-12">
                            @Html.TextBoxFor(model => model.ConfirmNewPassword, new { @class = "email form-control" })
                        </div>
                        <div class="col-sm-3 col-md-4 col-xs-12">
                            @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                            <div class="visible-lg visible-md visible-sm form-title-rquired">@Html.RequiredHint()</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-3 col-md-offset-2 col-sm-2 col-md-2">
                            <input type="submit" name="set-password" class="btn btn-primary button-1 new-password-button" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
